<div id="content" class="site-content">
  <div class="hmc-container">
    <div class="elementor elementor-314">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-0f0f385 elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle">
            <div class="elementor-container elementor-column-gap-wide">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ec1a21c">
                  <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-d365130 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-531b1cf">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-b48ae66 elementor-widget elementor-widget-heading">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">OUR HISTORY</h2>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-54031c2 elementor-widget elementor-widget-heading">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">Lucky public school, Shikohabad</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-ec2405b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8abb304">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-b568a9a elementor-widget elementor-widget-text-editor">
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            <div class="css-0"><p style="margin-top:0in;margin-right:0in;margin-bottom:15.0pt;margin-left:0in">Lucky Public School are equipped with facilities comparable with the best in the state, both in academics and extra-curricular activities. It is these‘extra’ that will make your child’s education complete.</p>
                            <h3 style="margin-top:15.0pt;margin-right:0in;margin-bottom:7.5pt;margin-left:0in;line-height:19.2pt">
                              <span style="font-size:18.0pt;color:#333333">Individual Attention<o:p></o:p></span>
                            </h3>
                            <p style="margin: 0in 0in 15pt;">Highly qualified and experienced teaching staff gives individual attention to the pupils as the number of students in any class is limited. Extra lessons / remedial teaching is arranged for weaker students in special tutorial rooms.<o:p></o:p></p>

<h3 style="margin: 15pt 0in 7.5pt; line-height: 19.2pt;"><span style="font-size:18.0pt;
font-family:&quot;roboto slab&quot;,&quot;serif&quot;;color:#333333">Extensive Use Of Technology
Aids<o:p></o:p></span></h3>

<p style="margin: 0in 0in 15pt;">Ultra-modern teaching aids include Computers with
colour monitors and printers, Colour TV and Laser Disc etc. A unique,
innovative, fun-filled child ware programme introduces your children to the
computer software. Educational films is shown to each class from time to time.<o:p></o:p></p>

<h3 style="margin: 15pt 0in 7.5pt; line-height: 19.2pt;"><span style="font-size:18.0pt;
font-family:&quot;roboto slab&quot;,&quot;serif&quot;;color:#333333">Emphasising Cultural Identity<o:p></o:p></span></h3>

<p style="margin: 0in 0in 15pt;">The school tries to provide a synthesis of the East
and the West. In spite of the latest gadgets, Hi-Fi equipment etc. that the
school provides, there is an emphasis on Indian Culture and heritage and the
students are made to feel proud of their Indian identity.<o:p></o:p></p>

<h3 style="margin: 15pt 0in 7.5pt; line-height: 19.2pt;"><span style="font-size:18.0pt;
font-family:&quot;roboto slab&quot;,&quot;serif&quot;;color:#333333">Sports &amp; Physical
Activities<o:p></o:p></span></h3>

<p style="margin: 0in 0in 15pt;">Yoga, Gymnastics and Aerobics are conducted on
regular basis. A unique fitness programme entails postural diagnosis,
rectification of defects and building up of strength, speed, endurance,
flexibility and neuro-muscular co-ordination.<o:p></o:p></p>

<h3 style="margin: 15pt 0in 7.5pt; line-height: 19.2pt;"><span style="font-size:18.0pt;
font-family:&quot;roboto slab&quot;,&quot;serif&quot;;color:#333333">Modern Infrastructure<o:p></o:p></span></h3>

<p style="margin: 0in 0in 15pt;">All Classrooms, Laboratories, Library, etc. have
state-of-the-art furniture.<o:p></o:p></p>

<h3 style="margin: 15pt 0in 7.5pt; line-height: 19.2pt;"><span style="font-size:18.0pt;
font-family:&quot;roboto slab&quot;,&quot;serif&quot;;color:#333333">Hygiene &amp; Cleanliness<o:p></o:p></span></h3>

<p style="margin: 0in 0in 15pt;">Highest standards of cleanliness are maintained.
Toilets have proper arrangement of water and soap to maintain personal hygiene
of highest order. The school employs sufficient number of housekeeping staff to
ensure that there is no speck of dirt anywhere in the school. Only filter water
is supplied for drinking purposes through sufficient number of water
dispensers.<o:p></o:p></p>

<h3 style="margin: 15pt 0in 7.5pt; line-height: 19.2pt;"><span style="font-size:18.0pt;
font-family:&quot;roboto slab&quot;,&quot;serif&quot;;color:#333333">Medical Facilities<o:p></o:p></span></h3>

<p style="margin: 0in 0in 15pt;">A fully equipped medical room with an on-call
doctor facility.</p>

<p style="margin-top:0in;margin-right:0in;margin-bottom:15.0pt;margin-left:
0in"><span style="font-size:18.0pt;font-family:&quot;roboto slab&quot;,&quot;serif&quot;;
color:#333333">Security &amp; Safety</span></p>

<p style="margin:0in;margin-bottom:.0001pt">Security guards to ensure safe
handing of children to authorized persons only.</p>

<p class="MsoNormal"><o:p>&nbsp;</o:p></p></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->
<style type="text/css">
  .elementor-314 .elementor-element.elementor-element-d365130 > .elementor-container{
    max-width: 600px;
  }
  .elementor-size-default{
    text-transform: uppercase;
  }
</style>