<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="243" class="elementor elementor-243" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-635741c7 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-no">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-68948206" data-id="68948206" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-55c4b485 elementor-widget elementor-widget-image" data-id="55c4b485" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img src="/assets/principal.jpg" class="attachment-full size-full" alt="" loading="lazy" width="332" height="331">											
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-7f47409 elementor-widget elementor-widget-heading" data-id="7f47409" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">Mrs. PREETI RAJE<br></h2>
                          <h6>PRINCIPAL</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-47678a04" data-id="47678a04" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-5d1bb95 elementor-widget elementor-widget-heading" data-id="5d1bb95" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">Our Principal's Message</h2>
                        </div>
                      </div>
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-7a21ae44 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7a21ae44" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3590507a" data-id="3590507a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                              <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                  <div class="elementor-element elementor-element-1dea699b elementor-widget elementor-widget-text-editor" data-id="1dea699b" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                      <div class="elementor-text-editor elementor-clearfix">
                                        <b><i>
                                        "Do not train a child to learn by force or harshness; but direct them to it by what amuses their minds, so that you may be better able to discover with accuracy the peculiar bent of the genius of each.".</i></b><br>
                                        <b style="float: right;"> Pluto </b>
                                        <br>
                                        <br>
                                        Dear Parents and Guardians, 
                                        <br>
                                        <p>Welcome to the Lucky Public School. As the Principal of Lucky Public School I am very fortunate to work with many dedicated, innovative and caring staff members, parents and students.Each day is filled with new experiences, learning for all, and the ability to make someone’s day better; many days it is the students who make my day a little brighter. The aim of our school is to help our students to grow into fine human beings who are capable to face the challenges of the present world.</p><br>
                                        <p>Education is the process of learning and knowing. It is a holistic process and continues throughout our life. We provide the material education, divine education to the students so that they can become a perfect citizen. Even the regular happenings and events around us educate us, in one or the other way. An educated person has the ability to change the world. Education opens our mind and expands our horizon. It enables us to understand our duties as citizen and encourages us to follow them. We get to know our history and culture through education and imbibe those values. </p>
                                        <br>

                                        <b>Success comes to those who work hard and stays with those, who don’t rest on the laurels of past the."</b>
                                        <br>
                                        <br>
                                        <b><i>With sincere blessings<br> 
                                        Preeti  Raje</i></b>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->
<style type="text/css">
  p{
    line-height: 20px;
  }
  .elementor-size-default{
    padding-bottom: 10px;
  }
</style>
